@use "global" as *;
.blog__inner.inner {
  padding-right: rem(21);
  padding-left: rem(21);
}

.blog__cards {
  margin-top: rem(30.4);
  display: flex;
  flex-direction: column;
  gap: rem(39.2);
  @include mq(md) {
    gap: rem(40);
    margin-top: rem(80);
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.blog__button {
  margin-top: rem(43.2);
  text-align: center;
  padding-right: 0.8vw;
  @include mq(md) {
    margin-top: rem(80);
    padding-right: 0.4vw;
  }
}
