@use "global" as *;
.campaign__cards {
  margin-top: rem(30.4);
  margin-left: calc(50% - 50vw + rem(15));
  width: calc(100vw - rem(15));
  @include mq(md) {
    margin-left: calc(50% - 50vw + rem(180));
    width: calc(100vw - rem(180));
    margin-top: rem(41.6);
  }
}

.campaign__card {
  margin-bottom: rem(10);
}

.campaign__swiper-wrapper.swiper-wrapper {
  transition-timing-function: linear;
}

.campaign__swiper-slide.swiper-slide {
  width: rem(280);
  height: auto;
  @include mq(md) {
    width: rem(334);
  }
}

.campaign__button {
  margin-top: calc(rem(41.6) - rem(10));
  text-align: center;
  padding-right: 1.07vw;
  padding-bottom: rem(10);
  @include mq(md) {
    margin-top: rem(70);
    padding-right: 0.37vw;
  }
}

.campaign__swiper-button-prev.swiper-button-prev,
.campaign__swiper-button-next.swiper-button-next {
  display: none;
  @include mq(md) {
    display: block;
    width: rem(1);
    height: rem(1);
    outline: none;
    transition: opacity 0.3s;
  }
  &:hover {
    opacity: 0.7;
  }
}

.campaign__swiper-button-prev.swiper-button-prev::after,
.campaign__swiper-button-next.swiper-button-next::after {
  @include mq(md) {
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    bottom: rem(179.2);
    height: rem(80);
    margin: auto;
    width: rem(80);
  }
}

.campaign__swiper-button-prev.swiper-button-prev::after {
  @include mq(md) {
    background-image: url(../images/common/prev.jpg);
    right: -75.66vw;
  }
}

.campaign__swiper-button-next.swiper-button-next::after {
  @include mq(md) {
    background-image: url(../images/common/next.jpg);
    right: 11.82vw;
  }
}
