@use "global" as *;
.campaign__cards {
  margin-top: rem(30.4);
  width: 100vw;
  @include mq(md) {
    margin-top: rem(41.6);
  }
}

.campaign__button {
  margin-top: rem(30.4);
  text-align: center;
  @include mq(md) {
    margin-top: rem(70.4);
  }
}
