@use "global" as *;
.campaign {
  padding-top: 2.5rem;
  @include mq(md) {
    padding-top: 7.5rem;
  }
}

.campaign__inner {
  @include mq(md) {
    position: relative;
  }
}

.campaign__cards {
  margin-top: 1.5rem;
  margin-left: calc(50% - 50vw);
  width: 100vw;
  @include mq(md) {
    margin-left: calc(50% - 50vw + 11.25rem);
    width: calc(100vw - 11.25rem);
    margin-top: 2.5rem;
  }
}

.campaign__card {
  margin-bottom: 0.625rem;
}

.campaign__swiper-wrapper.swiper-wrapper {
  transition-timing-function: linear;
}

.campaign__swiper-slide.swiper-slide {
  width: 17.5rem;
  @include mq(md) {
    width: 20.875rem;
  }
}

.campaign__button {
  margin-top: calc(2.5rem - 0.625rem);
  text-align: center;
  @include mq(md) {
    margin-top: calc(5rem - 0.625rem);
  }
}

.campaign__swiper-button-prev.swiper-button-prev,
.campaign__swiper-button-next.swiper-button-next {
  display: none;
  @include mq(md) {
    display: block;
    width: 1px;
    height: 1px;
    outline: none;
    transition: opacity 0.3s;
  }
  &:hover {
    opacity: 0.7;
  }
}

.campaign__swiper-button-prev.swiper-button-prev::after,
.campaign__swiper-button-next.swiper-button-next::after {
  @include mq(md) {
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    bottom: 15.75rem;
    height: 5rem;
    margin: auto;
    width: 5rem;
  }
}

.campaign__swiper-button-prev.swiper-button-prev::after {
  @include mq(md) {
    background-image: url(../images/common/prev.jpg);
    right: -55rem;
  }
}

.campaign__swiper-button-next.swiper-button-next::after {
  @include mq(md) {
    background-image: url(../images/common/next.jpg);
    right: 3rem;
  }
}
