@use "global" as *;

.information__content {
  margin-top: 1.8rem;
  @include mq(md) {
    margin-top: 2.5rem;
    display: flex;
    gap: 3rem;
  }
}

.information__color-box {
  width: 100%;
  @include mq(md) {
    max-width: 33.75rem;
  }
}

.information__img {
  aspect-ratio: 345 /227;
  flex-shrink: 0;
  @include mq(md) {
    aspect-ratio: 540 / 356;
  }
}

.information__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  @include mq(md) {
    max-width: 33.75rem;
  }
}

.information__body {
  margin-top: 1.8rem;
  @include mq(md) {
    margin-top: 4.05rem;
    position: relative;
  }
}

.information__body-title {
  color: $black;
  font-size: 1.25rem;
  font-weight: $bold;
  line-height: 1.2;
  border-bottom: 1px solid $blue;
  @include mq(md) {
    font-size: 1.5rem;
    line-height: 1;
    padding-bottom: 0.3rem;
  }
}

.information__body-text {
  margin-top: 0.4rem;
  font-family: "Noto Sans JP";
  color: $black;
  font-size: 1rem;
  font-weight: $normal;
  line-height: 1.5;
}

.information__button {
  text-align: center;
  margin-top: 2.6rem;
  padding-right: 0.8vw;
}
