@use "global" as *;
.mv {
  width: 100%;
  height: 100vh;
  background-color: $white;
}

.mv__inner {
  position: relative;
  width: 100%;
  height: inherit;
  overflow: hidden;
}

.mv__title-wrap {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 53%;
  transform: translate(-50%, -50%);
  color: $blue;
  text-align: center;
  opacity: 1;
  transition: color 0.3s ease, opacity 1s ease;
  @include mq(md) {
    left: 51.5%;
  }
}

.mv__loading-title {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 53%;
  transform: translate(-50%, -50%);
  color: $white;
  opacity: 0;
  transition: opacity 1s ease;
  text-align: center;
  @include mq(md) {
    left: 51.5%;
  }
}

.mv__loading-title.show {
  opacity: 1;
}

.mv__title-wrap.fade-out {
  opacity: 0;
}

.mv__title-wrap.change-color {
  color: $white;
  opacity: 1;
  transition: color 0.3s ease, opacity 1s ease-in-out;
}

.mv__main-title {
  font-family: $large-font;
  text-transform: uppercase;
  font-size: rem(40);
  font-weight: $normal;
  line-height: 1;
  letter-spacing: 0.53em;
  @include mq(md) {
    font-size: rem(80);
  }
}

.mv__sub-title {
  font-family: $english-font;
  font-size: rem(20);
  font-weight: $normal;
  line-height: normal;
  padding-right: rem(24);
  display: block;
  margin-top: rem(4);
  @include mq(md) {
    margin-top: rem(8.8);
    padding-right: rem(44.8);
  }
}

.mv__loading-image {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 500;
  display: flex;
  overflow: hidden;
  opacity: 0;
  transition: opacity 1s ease;
}

.mv__loading-image.show {
  opacity: 1;
}

.mv__loading-image::before,
.mv__loading-image::after {
  content: "";
  flex: 1;
  height: 100vh;
  background-image: url("../images/common/mv-sp1.jpg");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  @include mq(md) {
    background-image: url("../images/common/mv-pc1.jpg");
  }
}
.mv__loading-image::before {
  background-position: left center;
  transform: translateY(100%);
  animation: slideUp 6s ease forwards;
}
.mv__loading-image::after {
  background-position: right center;
  transform: translateY(100%);
  animation: slideUp 6s ease forwards;
  animation-delay: 0.4s;
}

.mv__loading-image.fade-out {
  animation: fadeOut 3s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.mv__slider {
  height: 100vh;
  width: 100%;
  opacity: 0;
  transition: opacity 1s ease;
}

.mv__slider.show {
  opacity: 1;
}

.mv__swiper-slide.swiper-slide picture,
.mv__swiper-slide.swiper-slide img {
  height: inherit;
  width: inherit;
}

.mv__swiper-slide.swiper-slide img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: bottom center;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
