@use "global" as *;
.price__content {
  margin-top: rem(28.8);
  @include mq(md) {
    margin-top: rem(41.6);
    display: flex;
    flex-direction: row-reverse;
    gap: clamp(rem(30), 6.56vw, rem(95));
    position: relative;
  }
}

.price__content::after {
  @include mq(md) {
    content: "";
    position: absolute;
    width: clamp(rem(350), 30.35vw, rem(437));
    height: clamp(rem(120), 13.96vw, rem(201));
    bottom: clamp(rem(-178), -12.43vw, rem(-130));
    left: clamp(rem(-81), -5.48vw, rem(-44));
    background-image: url("../images/common/blue-fish--left.png");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 0;
  }
}

.price__color-box {
  width: 100%;
  @include mq(md) {
    max-width: 30.75rem;
  }
}

.price__img {
  aspect-ratio: 345 /227;
  flex-shrink: 0;
  @include mq(md) {
    aspect-ratio: 492 / 746;
  }
}

.price__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  @include mq(md) {
    max-width: rem(492);
  }
}

.price__list {
  margin-top: rem(44.8);
  @include mq(md) {
    margin-top: rem(4.8);
  }
}

.price__button {
  margin-top: rem(40);
  text-align: center;
  padding-right: 0.8vw;
  @include mq(md) {
    margin-top: rem(80);
    padding-right: 0.3vw;
  }
}
