@use "global" as *;
.sub-contact {
  margin-top: rem(106);
  @include mq(md) {
    margin-top: rem(140);
  }
}

.sub-contact.sub-contact--sitemap {
  margin-top: rem(90);
  @include mq(md) {
    margin-top: rem(114.4);
  }
}

.sub-contact.sub-contact--single {
  margin-top: rem(102.8);
  @include mq(md) {
    margin-top: rem(134);
  }
}
