@use "global" as *;
.top-information {
  background-color: $blue-bg;
  padding-top: rem(83.2);
  padding-bottom: rem(83.2);
  position: relative;
  @include mq(md) {
    padding-top: rem(99.04);
    padding-bottom: rem(77.6);
  }
}
