@use "global" as *;
.top-information {
  background-color: $blue-bg;
  padding-top: 5.3rem;
  padding-bottom: 5.2rem;
  position: relative;
  @include mq(md) {
    padding-top: 6.25rem;
    padding-bottom: 4.75rem;
  }
}
