@use "global" as *;
.top-price {
  background-color: $blue-bg;
  padding-top: rem(84.8);
  padding-bottom: rem(84.8);
  position: relative;
  @include mq(md) {
    padding-top: rem(100);
    padding-bottom: rem(103.2);
    position: relative;
    overflow: hidden;
  }
}
