@use "global" as *;
.top-blog {
  padding-top: rem(84.8);
  @include mq(md) {
    padding-top: rem(101.6);
    position: relative;
  }
}

.top-blog::after {
  position: absolute;
  content: "";
  background-image: url(../images/common/blog-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 60.6%;
  top: 0;
  left: 0;
  z-index: -1;
}

.top-blog::before {
  @include mq(md) {
    content: "";
    position: absolute;
    width: 30.35vw;
    height: 13.96vw;
    top: 1.72vw;
    left: 6.93vw;
    background-image: url("../images/common/white-fish.png");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
  }
}
