@use "global" as *;
.top-about {
  padding-top: 5.6rem;
  padding-bottom: 4.675rem;
  @include mq(md) {
    padding-top: 9.05rem;
    padding-bottom: 10.25rem;
    position: relative;
    overflow: hidden;
  }
}
