@use "global" as *;
.top-voice {
  padding-top: 5.6rem;
  padding-bottom: 5.3rem;
  @include mq(md) {
    padding-top: 9.05rem;
    padding-bottom: 9.05rem;
    position: relative;
    overflow: hidden;
  }
}
