@use "global" as *;
.top-about {
  padding-top: rem(78);
  padding-bottom: rem(74.8);
  @include mq(md) {
    padding-top: rem(134.8);
    padding-bottom: rem(164);
    position: relative;
    overflow: hidden;
  }
}
