@use "global" as *;
.top-information {
  background-color: $blue-bg;
  padding-top: 5rem;
  padding-bottom: 5rem;
  position: relative;
  z-index: -2;
  @include mq(md) {
    padding-top: 6.25rem;
    padding-bottom: 4.75rem;
  }
}
