@use "global" as *;
.top-price {
  background-color: $blue-bg;
  padding-top: 5.3rem;
  padding-bottom: 5.3rem;
  position: relative;
  @include mq(md) {
    padding-top: 6.25rem;
    padding-bottom: 6.45rem;
    position: relative;
    overflow: hidden;
  }
}
