@use "global" as *;
.top-voice {
  padding-top: rem(88);
  padding-bottom: rem(84.8);
  @include mq(md) {
    padding-top: rem(143.2);
    padding-bottom: rem(144.8);
    position: relative;
    overflow: hidden;
  }
}
