@use "global" as *;
.top-blog {
  padding-top: rem(84.8);
  @include mq(md) {
    padding-top: rem(99.2);
    position: relative;
  }
}

.top-blog::before {
  position: absolute;
  content: "";
  background-image: url(../images/common/blog-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 60.6%;
  top: 0;
  left: 0;
  z-index: -1;
}

.top-blog::after {
  @include mq(md) {
    content: "";
    position: absolute;
    width: min(rem(437), 30.35vw);
    height: min(rem(201), 13.96vw);
    top: min(rem(24), 1.67vw);
    left: calc(50% - min(48vw, rem(620.8)));
    background-image: url("../images/common/white-fish.png");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
  }
}
