@use "global" as *;
.voice__cards {
  margin-top: rem(46);
  display: flex;
  flex-direction: column;
  gap: rem(40);
  @include mq(md) {
    margin-top: rem(31.6);
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    position: relative;
  }
}

.voice__cards::before {
  @include mq(md) {
    content: "";
    position: absolute;
    width: 20.9vw;
    height: 9.58vw;
    top: -15.09vw;
    left: -5.56vw;
    background-image: url("../images/common/blue-fish--right.png");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
  }
}

.voice__cards::after {
  @include mq(md) {
    content: "";
    position: absolute;
    width: 4.93vw;
    height: 11.18vw;
    bottom: -13.89vw;
    right: 0;
    background-image: url("../images/common/sea-horse.png");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
  }
}

.voice__button {
  text-align: center;
  margin-top: rem(41.6);
  padding-right: 0.8vw;
  @include mq(md) {
    margin-top: rem(78.4);
    padding-right: 0.3vw;
  }
}
