@use "sass:math";
@use "breakpoints" as *;
// インナー幅設定
// コンテンツのインナー幅（最も共通の幅が多い部分）
$inner: 1080px;
// ※キュンパス幅ではなくインナーの幅を指す

// 余白
$padding-pc: 20px;
$padding-sp: 15px;

////////////////////
// フォント設定
////////////////////

$japanese-font: "Noto Sans JP", sans-serif;
$english-font: "Gotu", sans-serif;
$sub-font: "Noto Serif", serif;
$large-font: "Lato", sans-serif;
// ※検証ツールでしっかり反映されているか確認する

body {
  font-family: $japanese-font;
}

body.is-scroll {
  overflow: hidden;
}

body.no-scroll {
  overflow: hidden;
  height: 100vh;
}

// フォントウェイト
$regular: 300;
$normal: 400;
$bold: 700;

////////////////////
// 色の指定
////////////////////

//色指定（共通性のあるものは出来る限り指定すると良い）
$black: #0d2936;
$white: #fff;
$blue: #408f95;
$blue-bg: #ddf0f1;

// spのみ表示
.pc-hidden {
  display: block;
  @include mq(md) {
    display: none;
  }
}

// pcのみ表示
.sp-hidden {
  display: none;
  @include mq(md) {
    display: block;
  }
}
