@use "global" as *;
.about-contents {
  @include mq(md) {
    position: relative;
  }
}

.about-contents__visual-wrap {
  display: flex;
  justify-content: right;
  position: relative;
}

.about-contents__visual-scenery {
  position: absolute;
  width: 34.13vw;
  max-width: rem(202);
  top: rem(-26);
  right: 63.33%;
  @include mq(md) {
    top: rem(-80);
    right: rem(680);
    width: auto;
    max-width: 100%;
  }
}

.about__visual-underwater {
  display: flex;
  justify-content: right;
  width: 74.93vw;
  max-width: rem(443);
  @include mq(md) {
    width: rem(880);
    max-width: 100%;
  }
}

.about-contents__body {
  margin-top: rem(16);
  @include mq(md) {
    margin-top: 0;
    display: flex;
    position: absolute;
    top: rem(104);
  }
}

.about-contents__title {
  text-align: left;
  margin-top: rem(41.6);
  color: $blue;
  font-family: $english-font;
  font-size: rem(40);
  font-weight: $normal;
  line-height: 1;
  @include mq(md) {
    margin-top: rem(16);
    margin-left: rem(200);
    font-size: rem(80);
    color: $white;
    line-height: 1.25;
    z-index: 500;
    width: calc(100% - rem(200));
  }
}

.about-contents__info-wrapper {
  margin-top: rem(16);
  @include mq(md) {
    margin-right: rem(56);
    z-index: 500;
    width: calc(100% - rem(312));
  }
}

.about-contents__text {
  color: $black;
  text-align: left;
  font-size: rem(16);
  font-weight: $normal;
  line-height: 1.5;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  @include mq(md) {
    color: $white;
  }
}

.about-contents__button {
  margin-top: rem(50);
  text-align: center;
  @include mq(md) {
    margin-top: rem(40);
  }
}
