@use "global" as *;
.blog__inner.inner {
  padding-right: rem(21);
  padding-left: rem(21);
}

.blog__cards {
  margin-top: rem(30.4);
  @include mq(md) {
    margin-top: rem(81.6);
  }
}

.blog__button {
  margin-top: rem(43.2);
  text-align: center;
  @include mq(md) {
    margin-top: rem(81.6);
  }
}
