@use "global" as *;
.blog-contents__inner {
  @include mq(md) {
    display: flex;
    gap: clamp(rem(30), 5.56vw, rem(80));
  }
}

.blog-contents__inner.blog-contents__inner--single {
  @include mq(md) {
    gap: clamp(rem(30), 5.9vw, rem(85));
  }
}

.blog-contents__featured {
  @include mq(md) {
    width: 65.6%;
  }
}

.blog-contents__featured.blog-contents__featured--single {
  @include mq(md) {
    width: 65%;
  }
}

.blog-contents__pagination {
  margin-top: rem(80);
}

.blog-contents__sidebar-wrap {
  margin-top: rem(80);
  @include mq(md) {
    margin-top: 0;
  }
}
