@use "global" as *;
.breadcrumb--error {
  background-color: $blue;
  padding-top: rem(80);
  @include mq(md) {
    padding-top: rem(91.2);
  }
}

.breadcrumb__list {
  display: flex;
  gap: rem(20);
}

.breadcrumb__item {
  color: $black;
  font-family: $japanese-font;
  font-size: rem(14);
  font-weight: $normal;
  line-height: 1;
}

.breadcrumb__item.breadcrumb__item--error {
  color: $white;
}

.breadcrumb__item:not(:first-child) {
  position: relative;
}

.breadcrumb__item:not(:first-child)::after {
  position: absolute;
  content: "";
  top: rem(4);
  left: rem(-15);
  width: rem(7);
  height: rem(7);
  border-top: 1px solid $black;
  border-right: 1px solid $black;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.breadcrumb__item.breadcrumb__item--error:not(:first-child)::after {
  border-top: 1px solid $white;
  border-right: 1px solid $white;
}
