@use "global" as *;
.contact {
  position: relative;
}

.contact__inner.inner {
  text-align: center;
  padding-inline: rem(40);
  @include mq(md) {
    padding-inline: rem(20);
  }
}

.contact__contents {
  position: relative;
  @include mq(md) {
    display: flex;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
    padding: rem(81.6) rem(50) rem(75.2) rem(50);
    gap: min(rem(82), 5.69vw);
  }
}

.contact__contents::before {
  content: "";
  position: absolute;
  width: 29.07vw;
  height: 13.33vw;
  top: -7.03vw;
  right: -6.77vw;
  background-image: url("../images/common/blue-fish--left.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
  @include mq(md) {
    width: min(rem(301), 20.9vw);
    height: min(rem(138), 9.58vw);
    top: rem(-40);
    right: calc(50% - min(48vw, rem(670.4)));
  }
}

.contact__info-box {
  @include mq(md) {
    width: 53%;
  }
}

.contact__content {
  @include mq(md) {
    width: 50%;
  }
}

.contact__content:nth-of-type(2) {
  @include mq(md) {
    border-left: 1px solid $blue;
    width: 55%;
    padding-left: rem(18.1);
  }
}

.contact__heading-img {
  position: relative;
}

.contact__heading-img::after {
  position: absolute;
  content: "";
  height: rem(2);
  width: 100%;
  bottom: rem(-2.2);
  left: 50%;
  transform: translateX(-50%);
  background: $blue;
  @include mq(md) {
    bottom: rem(-2);
  }
}

.contact__heading-img img {
  display: inline-block;
  max-width: rem(174);
  width: 100%;
  @include mq(md) {
    max-width: rem(200);
  }
}

.contact__details {
  margin-top: rem(17.6);
  @include mq(md) {
    margin-top: rem(25.6);
    display: flex;
    gap: min(rem(20), 1.09vw);
  }
}

.contact__info {
  display: flex;
  flex-direction: column;
  gap: rem(4);
  font-size: rem(16);
  font-style: normal;
  font-weight: $normal;
  line-height: 1.5;
  @include mq(md) {
    align-items: flex-start;
    text-align: left;
  }
}

.contact__contents-map {
  margin-top: rem(16);
  aspect-ratio: 295 / 160;
  @include mq(md) {
    aspect-ratio: 273 / 148;
    margin-top: 0;
  }
}

.contact__contents-map iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
  @include mq(md) {
    max-width: rem(273);
  }
}

.contact__heading {
  display: flex;
  justify-content: center;
  margin-top: rem(35.2);
  @include mq(md) {
    margin-top: rem(20);
  }
}

.contact__description {
  margin-top: rem(12);
  font-size: rem(13.6);
  font-weight: $normal;
  line-height: 1.125;
  color: $blue;
  letter-spacing: 0.03em;
}

.contact__button {
  margin-top: rem(42.4);
  @include mq(md) {
    margin-top: rem(40.8);
  }
}
