@use "global" as *;
// // ドロワー
.drawer {
  position: absolute;
  z-index: 5000;
  top: rem(80);
  left: 0;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100dvh;
  background: $blue;
  padding-top: rem(20.8);
  padding-bottom: rem(120);
  transition: all 0.3s;
  overflow: scroll;
}

.drawer.is-active {
  opacity: 1;
  visibility: visible;
}
