@use "global" as *;
.error__heading {
  text-align: center;
  color: $white;
  font-family: $large-font;
  font-size: rem(80);
  font-weight: $normal;
  line-height: normal;
  letter-spacing: rem(40);
  text-indent: rem(40);
  @include mq(md) {
    font-size: rem(160);
    letter-spacing: rem(80);
    text-indent: rem(80);
  }
}

.error__content {
  text-align: center;
}

.error__text {
  color: $white;
  font-family: $large-font;
  font-size: rem(16);
  font-weight: $normal;
  line-height: 1.5;
  margin-top: rem(-2);
  @include mq(md) {
    margin-top: rem(24);
  }
}

.error__button {
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(80);
  }
}
