@use "global" as *;
.footer {
  background-color: $blue;
  padding-top: rem(48);
  padding-bottom: rem(59.2);

  @include mq(md) {
    padding-top: rem(80);
    padding-bottom: rem(80);
  }
}

.footer__logo-wrap {
  display: flex;
  flex-direction: column;
  gap: rem(16);
  @include mq(md) {
    flex-direction: row;
    align-items: center;
    gap: rem(40);
  }
}

.footer__logo {
  display: block;
}

.footer__logo img {
  max-width: rem(120);
  width: 100%;
  @include mq(md) {
    max-width: rem(200);
  }
}

.footer__sns-logo {
  display: flex;
  gap: rem(16);
  @include mq(md) {
    margin-top: rem(32);
  }
}

.footer__sns-logo a {
  max-width: rem(24);
  width: 100%;
  @include mq(md) {
    max-width: rem(32);
  }
}

.footer__menu {
  margin-top: rem(36.8);
  @include mq(md) {
    margin-top: rem(24);
  }
}

.footer__copyright {
  display: block;
  text-align: center;
  margin-top: rem(24);
  font-family: $english-font;
  font-size: rem(14.304);
  font-weight: $normal;
  color: $white;
  line-height: 1;
  @include mq(md) {
    font-size: rem(16.848);
    margin-top: rem(52.8);
  }
}
