@use "global" as *;

.js-hamburger.is-active .hamburger__item:first-child {
  width: 130%;
  left: rem(-3.8);
  top: rem(1.76);
  -webkit-transform: translateY(10px) rotate(-323.6deg);
  transform: translateY(10px) rotate(-323.6deg);
}

.js-hamburger.is-active .hamburger__item:nth-child(2) {
  opacity: 0;
}

.js-hamburger.is-active .hamburger__item:last-child {
  top: rem(21.4);
  left: rem(-5.2);
  width: 130%;
  -webkit-transform: translateY(-10px) rotate(323.6deg);
  transform: translateY(-10px) rotate(323.6deg);
}

.js-hamburger:focus {
  opacity: 0.5;
}
