@use "global" as *;
.labels {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: rem(20);
  row-gap: rem(16);
  @include mq(md) {
    display: flex;
    flex-wrap: wrap;
    gap: rem(32);
  }
}

.labels__item {
  padding: rem(9) rem(10);
  border: 1px solid $blue;
  transition: all 0.3s;
  display: block;
  text-align: center;
  color: $blue;
  font-family: $japanese-font;
  font-size: rem(14);
  font-weight: $normal;
  line-height: 1;
  @include mq(md) {
    padding: rem(10);
    width: rem(162);
  }
}

.labels__list.is-active .labels__item {
  background-color: $blue;
  color: $white;
}


@media (any-hover: hover) {
  .labels__item:hover {
    background-color: $blue;
    color: $white;
    opacity: 1;
  }
}
