@use "global" as *;

.menu__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: inherit;
}

.menu__items {
  column-count: 2;
  gap: 1.4375rem;
  height: inherit;

  @include mq(md) {
    column-count: 4;
    width: 100%;
    gap: 3.8375rem;
  }
}

.menu__items.menu__items--drawer {
  gap: 0.8125rem;
}

.menu__item {
  display: block;
}

.menu__item:not(:first-child) {
  margin-top: 2.15rem;
}

.menu__item:nth-child(5),
.menu__item:nth-child(6) {
  @include mq(md) {
    margin-left: -0.9375rem;
  }
}

.menu__item:nth-child(7),
.menu__item:nth-child(8),
.menu__item:nth-child(9),
.menu__item:nth-child(10) {
  @include mq(md) {
    margin-left: -2rem;
  }
}

.menu__link-wrap {
  margin-left: 1.45rem;
  color: $white;
}

.menu__link-wrap.menu__link-wrap--drawer {
  margin-left: 0.95rem;
}

.menu__link-main {
  position: relative;
  font-size: 1rem;
  font-weight: $bold;
}

.menu__link-main.menu__link-main--lineheight {
  line-height: 1.3;
}

.menu__link-main a {
  display: block;
}

.menu__link-main::before {
  content: "";
  position: absolute;
  background-image: url(../images/common/drawer-logo.svg);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 1.125rem;
  height: 1.125rem;
  left: -1.375rem;
}

.menu__link-sub {
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
  font-size: 1rem;
  font-weight: $normal;
  margin-top: 1.1rem;
}
.menu__link-sub.menu__link-sub--drawer {
  margin-top: 1.2rem;
}

.menu__link-sub a {
  display: block;
  width: 105%;
}
