@use "global" as *;
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination__list {
  display: flex;
  gap: rem(12);
}

.pagination__list.pagination__list--single {
  gap: rem(27);
}

.pagination__link {
  width: rem(38);
  height: rem(38);
  border: 1px solid $blue;
  color: $blue;
  font-family: $large-font;
  font-size: rem(16);
  font-weight: $bold;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

@media (any-hover: hover) {
  .pagination__link:hover {
    background-color: $blue;
    color: $white;
    opacity: 1;
  }
}

.pagination__link.is-active {
  color: $white;
  background-color: $blue;
}

.pagination__item:first-child {
  position: relative;
  margin-right: calc(rem(40) - rem(12));
}

.pagination__item:first-child .pagination__link::after {
  position: absolute;
  content: "";
  width: rem(10);
  height: rem(10);
  border-top: solid 1px $blue;
  border-right: solid 1px $blue;
  transform: rotate(-135deg);
  top: 40%;
  left: 45%;
}

.pagination__item:last-child {
  position: relative;
  margin-left: calc(rem(40) - rem(12));
}

.pagination__item:last-child .pagination__link::after {
  position: absolute;
  content: "";
  width: rem(10);
  height: rem(10);
  border-top: solid 1px $blue;
  border-right: solid 1px $blue;
  transform: rotate(45deg);
  top: 40%;
  left: 30%;
}

@media (any-hover: hover) {
  .pagination__link:hover.pagination__link::after {
    border-top: solid 1px $white;
    border-right: solid 1px $white;
  }
}
