@use "global" as *;
.page-top-button {
  position: fixed;
  z-index: 900;
  right: rem(12.8);
  bottom: rem(12.8);
  width: rem(52.8);
  height: rem(52.8);
  cursor: pointer;
  background-image: url(../images/common/page-top.png);
  background-repeat: no-repeat;
  background-size: contain;
  @include mq(md) {
    width: rem(80);
    height: rem(80);
  }
}

@media (any-hover: hover) {
  .page-top-button:hover {
    opacity: 0.7;
  }
}
