@use "global" as *;
.section-heading {
  display: block;
  text-align: center;
}

.section-heading__main {
  font-family: $english-font;
  color: $black;
  font-size: rem(32);
  font-weight: $normal;
  line-height: 1;

  @include mq(md) {
    font-size: rem(40);
  }
}

.section-heading__main span {
  color: $blue;
}

.section-heading__sub {
  margin-top: rem(12);
  color: $blue;
  font-size: rem(12);
  font-weight: $normal;
  line-height: 1;

  @include mq(md) {
    margin-top: rem(12.8);
  }
}

.section-heading__sub.section-heading__sub--contact {
  margin-top: rem(-3);
  @include mq(md) {
    margin-top: rem(0.2);
  }
}

.section-heading__main.section-heading__main--large {
  font-size: rem(80);
}

.section-heading__main.section-heading__main--white {
  @include mq(md) {
    color: $white;
  }
}

.section-heading__main.section-heading__main--white span {
  @include mq(md) {
    color: $white;
  }
}

.section-heading__sub.section-heading__sub--white {
  @include mq(md) {
    color: $white;
  }
}
